.FourthViewDiv {
    background-color: #110417;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.fourth_vw_body {
    background-color: #ffffff;
    height: 778px;
}

.fourth_vw_btn_0 {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .fourth_vw_btn_1 {
        background-color: #7427a4;
        color: #ffffff;
        font-size: 22px;
        font-weight: bold;
        border-radius: 100px;
        border: 0;
        outline: none;
        opacity: 1;
        padding: 19px 69px;
        cursor: pointer;
    }
}
