@import '../../styles/mixin';

// Footer
.footerList {
    font-weight: bold;
    margin: 0px 20px 20px 20px;

    @include large {
        font-size: 20px;
    }
    @include medium {
        font-size: 16px;
    }
    @include small {
    }
    @include extra-small {
        // 햄버거 버튼 만들기
        font-size: 14px;
        margin: 0px 10px 20px 10px;
    }
}

.footerList_BL {
    font-weight: bold;
    margin: 81px 20px 20px 0px;

    @include large {
        font-size: 20px;
    }
    @include medium {
        font-size: 16px;
    }
    @include small {
    }
    @include extra-small {
        // 햄버거 버튼 만들기
    }
}
.footerList_BL_detail {
    margin-bottom: 68px;
}

.div_footer_Info {
    margin-left: 15px;
    margin-bottom: 15px;
    @include large {
        font-size: 18px;
    }
    @include medium {
    }
    @include small {
        font-size: 15px;
    }
    @include extra-small {
        // 햄버거 버튼 만들기
        font-size: 13px;
    }
}

.kakao {
    width: 24px;
    height: 22px;
    @include extra-small {
        // 햄버거 버튼 만들기
        width: 19px;
        height: 17px;
    }
}

// Home page
.second_vw_title {
    font-size: 40px;
    width: 480px;
    height: 118px;
    font-weight: bold;
    margin-bottom: 40px;

    @include small {
        margin-top: 25px;
    }
    @include extra-small {
        margin-top: 25px;
    }
}

.second_vw_title2 {
    font-size: 40px;
    width: 552px;
    height: 118px;
    font-weight: bold;
    margin-bottom: 40px;
}

.second_vw_content {
    width: 557px;
    margin-bottom: 24px;
}

.second_vw_content1 {
    font-size: 20px;
}

.second_vw_content2 {
    font-size: 20px;
}

.third_vw_1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 80px;
}

.third_vw_2 {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    span {
        color: #a637ea;
    }
}

.fourth_vw_28min {
    margin: 162px 20px 144px 0px;
    height: 1118px;
    width: 586px;

    @include extra-small {
        margin: 102px 10px 10px 10px;
    }
}

.fourth_vw_58min {
    margin: 162px 0px 144px 20px;
    height: 1118px;
    width: 586px;

    @include extra-small {
        margin: 10px 10px 10px 10px;
    }
}

.fourth_vw_title {
    background-color: #42175d;
    color: #ffffff;
    font-size: 55px;
    font-weight: bold;
    padding: 85px 287px 45px 40px;
    border-radius: 20px 20px 0px 0px;

    @include extra-small {
        font-size: 35px;
        padding: 85px 40px 45px 40px;
    }

    span {
        color: #fff337;
    }
}

.fourth_vw_price {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .fourth_vw_price_title_1 {
        font-size: 30px;
        margin: 50px 0px 181px 40px;
        @include extra-small {
            font-size: 20px;
        }
    }

    .fourth_vw_price_title_2 {
        font-size: 30px;
        margin: 50px 0px 90px 40px;
        @include extra-small {
            font-size: 20px;
        }
    }

    .fourth_vw_price_disc_box_1 {
        margin-top: 240px;
    }
    .fourth_vw_price_disc_box_2 {
        margin-top: 240px;
    }
}
