@import '../../styles/mixin';
$backgroundColor: #42175d;

.classButton {
    @include large {
        button {
            color: $backgroundColor;
            background-color: yellow;
            border: 0;
            border-radius: 100px;
            font-weight: bold;
            outline: none;
            font-size: medium;
            padding: 5px 15px;
            opacity: 1;
            cursor: pointer;
        }
    }
    @include medium {
        button {
            color: $backgroundColor;
            background-color: yellow;
            border: 0;
            border-radius: 100px;
            font-weight: bold;
            outline: none;
            font-size: medium;
            padding: 5px 15px;
            opacity: 1;
            cursor: pointer;
        }
    }
    @include small {
        display: none;
        button {
            color: $backgroundColor;
            background-color: yellow;
            border: 0;
            border-radius: 100px;
            font-weight: bold;
            outline: none;
            font-size: medium;
            padding: 5px 15px;
            opacity: 1;
            cursor: pointer;
            margin-bottom: 1rem;
            margin-top: 0.5rem;
        }
        &.active {
            display: flex;
        }
    }
    @include extra-small {
        display: none;
        button {
            color: $backgroundColor;
            background-color: yellow;
            border: 0;
            border-radius: 100px;
            font-weight: bold;
            outline: none;
            font-size: 11px;
            padding: 5px 15px;
            opacity: 1;
            cursor: pointer;
            margin-bottom: 1rem;
            margin-top: 0.5rem;
        }
        &.active {
            display: flex;
        }
    }
}
